@model HexaContent.ContentHub.Models.HomeModel
@{
    ViewData["Title"] = "Articles";
}

@if (Model.Articles != null && Model.Articles.Any())
{
    <div class="items">
        @foreach (var article in Model.Articles)
        {
            <div class="item">
                <div class="item-info">
                    <h2 class="item-header">@article.Title</h2>
                    <div class="item-byline">By @article.Author.Name en <em>Section</em> - @article.UpdatedAt.ToString("dd/MM/yyyy")</div>
                    <div class="item-status">@article.Status.ToView()</div>
                </div>

                <a class="item-edit material-symbols-outlined" asp-action="Edit" asp-route-id="@article.Id">edit</a>
            </div>
        }
    </div>
}
else
{
    <p>No articles available.</p>
}

@section Actions
{
    <select>
        <option selected>All articles</option>
        <option>Drafts</option>
        <option>Scheduled</option>
        <option>Published</option>
        <option>Archived</option>
    </select>

    <select>
        <option selected>All authors</option>
    </select>

    <select>
        <option selected>All sections</option>
    </select>

    <button>New article</button>
}